# Laravel
backend/vendor/
backend/.env
backend/node_modules/

# React
frontend/node_modules/
frontend/.env

# Spring Boot
auth-service/target/
auth-service/.env

# Divers
.DS_Store
*.log

# IDE
.vscode/
.idea/
*.iml

# Environnement local (contient des secrets)
.env